body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    font-family: 'Courier New', monospace;
    color: #ffffff;
  }

  .navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center; /* Center the text horizontally */
  }

  .navbar a {
    display: inline-block; /* Make the links appear in a row */
    font-size: 16px;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #555;
  }

  /* Apply styles to the whole page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    color: #ffffff;
    background-color: #1e1e1e;
  }
  
 /* Center the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 0; /* Ensure the container is behind other elements */
  }
  
  /* Style the slideshow */
  .slideshow {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    z-index: 1; /* Make the slideshow appear above the container */
  }
  
  .slide {
    display: none;
    width: 100%;
    height: auto;
    position: absolute; /* Position the images absolutely within the slideshow */
    top: 0;
    left: 0;
  }
  
  /* Add styles for slideshow animation */
  .fade-in {
    animation: fadeEffect 4s ease-in-out infinite;
  }
  
  @keyframes fadeEffect {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  
body .footer {
  z-index: 1;
  --footer-background: #ED5565;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}

body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}

body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}

body .footer .content a,
body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}

body .footer .content b {
  color: white;
}

body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}

body .footer .content>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .footer .content>div>div {
  margin: 0.25rem 0;
}

body .footer .content>div>div>* {
  margin-right: 0.5rem;
}

body .footer .content>div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@-webkit-keyframes bubble-size {

  0%,
  75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
  }

  100% {
      width: 0rem;
      height: 0rem;
  }
}

@keyframes bubble-size {

  0%,
  75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
  }

  100% {
      width: 0rem;
      height: 0rem;
  }
}

@-webkit-keyframes bubble-move {
  0% {
      bottom: -4rem;
  }

  100% {
      bottom: var(--distance, 10rem);
  }
}

@keyframes bubble-move {
  0% {
      bottom: -4rem;
  }

  100% {
      bottom: var(--distance, 10rem);
  }
}

.center{text-align: center;}
h1 {
  font-size: 50px; 
}

.code-box {
  max-width: 1300px; /* Adjust the width as needed */
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto;
  height: 500px;
  margin-top: 50px;
}

/* Additional styles for code formatting */
.pre {
  margin: 0;
  padding: 0;
}

.code {
  color: #00FF00; /* Text color for code */
  font-size: 14px; /* Font size for code */
  white-space: pre-wrap;
}
.copy-button {
  background-color: #47fb1091; /* Blue background color */
  color: #fff; /* Text color */
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #2c6f06ca; /* Darker blue on hover */
}

.code1 {
  color: #f6ef1c; /* Text color for code */
  font-size: 14px; /* Font size for code */
  white-space: pre-wrap;
}

.code2 {
  color: #10f3fb; /* Text color for code */
  font-size: 14px; /* Font size for code */
  white-space: pre-wrap;
}

.output-box {
  max-width: 600px; /* Adjust the width as needed */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto;
  height: 300px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 

 
.navigation {
    position: relative;
    width: 400px;
    height: 70px;
    background:  linear-gradient(155deg, #192b6e, #a6307c);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
 
.navigation ul {
    display: flex;
    width: 350px;
}
 
.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}
 
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
 
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    transition: .5s;
}
 
.navigation ul li.active a .icon {
    transform: translateY(-32px);
}
 
.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}
 
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}
 
.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #fff;
    transform: translateY(-37px) scale(0);
}
 
.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1);
}
 
.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: linear-gradient(0deg, #ffa576,#0951eb);
    border: 6px solid #06021b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
 
.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 #06021b;
}
 
.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 #06021b;
}
 
.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}
 
.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}
 
.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}
 
.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}
 
.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}
