<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ryan's Blog</title>
  <link rel="stylesheet" href="styles.less"> 
  <link rel="stylesheet" href="styles.css"> <!-- Replace "styles.css" with the correct path to your compiled CSS file -->
</head>
<body>
  <header>
    <h1>Welcome to Ryan's Blog</h1>
  </header>

  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <main>
    <article>
      <h2>Blog Post Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat mauris sed fermentum tincidunt. Aliquam vel nisi sem. Nulla tempus orci sit amet massa eleifend fermentum.</p>
      <p>Etiam eu metus ipsum. Pellentesque eleifend felis purus, ut rhoncus lacus consectetur id. Morbi et nisi sed mauris cursus varius a eu est.</p>
    </article>

    <article>
      <h2>Another Blog Post</h2>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur ultricies arcu quis nunc rhoncus, a volutpat justo tincidunt.</p>
      <p>Aliquam erat volutpat. Nam convallis, lectus eget dignissim varius, neque odio consectetur risus, eget blandit erat quam ut mauris.</p>
    </article>
  </main>

  <div class="main">
    <div class="footer">
      <div class="bubbles">
         <% for (var i = 0; i < 128; i++) { %>
        <div class="bubble" style="--size:${2+Math.random()*4}rem; --distance:${6+Math.random()*4}rem; --position:${-5+Math.random()*110}%; --time:${2+Math.random()*2}s; --delay:${-1*(2+Math.random()*2)}s;"></div>
        <% } %>
      </div>
      <div class="content">
        <div>
          <div>
            <b>Eldew</b>
            <a href="#">Secuce</a>
            <a href="#">Drupand</a>
            <a href="#">Oceash</a>
            <a href="#">Ugefe</a>
            <a href="#">Babed</a>
          </div>
          <div>
            <b>Spotha</b>
            <a href="#">Miskasa</a>
            <a href="#">Agithe</a>
            <a href="#">Scesha</a>
            <a href="#">Lulle</a>
          </div>
          <div>
            <b>Chashakib</b>
            <a href="#">Chogauw</a>
            <a href="#">Phachuled</a>
            <a href="#">Tiebeft</a>
            <a href="#">Ocid</a>
            <a href="#">Izom</a>
            <a href="#">Ort</a>
          </div>
          <div>
            <b>Athod</b>
            <a href="#">Pamuz</a>
            <a href="#">Vapert</a>
            <a href="#">Neesk</a>
            <a href="#">Omemanen</a>
          </div>
        </div>
        <div>
          <a class="image" href="https://codepen.io/z-" target="_blank" style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/happy.svg')"></a>
          <p>&copy; 2023 Ryan's Blog. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
