
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

article{
  padding: 90px;
  background-color: #a6fccf;
  width: auto;
  border-radius: 50px;
  box-shadow: 15px 30px 25px rgb(255, 255, 255);
  margin-bottom: 20px;
}

article h2 {
  color: #333;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  animation: blueBackgroundAnimation 5s ease infinite;
}

@keyframes blueBackgroundAnimation {
  0% {
    background: #003399;
  }
  25% {
    background: #0066CC;
  }
  50% {
    background: #0099FF;
  }
  75% {
    background: #00CCFF;
  }
  100% {
    background: #003399;
  }
}


body .footer {
  z-index: 1;
  --footer-background: #ED5565;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}

body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}

body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}

body .footer .content a,
body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}

body .footer .content b {
  color: white;
}

body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}

body .footer .content>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .footer .content>div>div {
  margin: 0.25rem 0;
}

body .footer .content>div>div>* {
  margin-right: 0.5rem;
}

body .footer .content>div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@-webkit-keyframes bubble-size {

  0%,
  75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
  }

  100% {
      width: 0rem;
      height: 0rem;
  }
}

@keyframes bubble-size {

  0%,
  75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
  }

  100% {
      width: 0rem;
      height: 0rem;
  }
}

@-webkit-keyframes bubble-move {
  0% {
      bottom: -4rem;
  }

  100% {
      bottom: var(--distance, 10rem);
  }
}

@keyframes bubble-move {
  0% {
      bottom: -4rem;
  }

  100% {
      bottom: var(--distance, 10rem);
  }
}




.center{text-align: center;}
h1 {
  font-size: 50px; 
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  display: flex;
  justify-content: space-between;
  transform: translate3d(-50%, -70%, 0);
  margin-top: 100px;
}

.eye {
  position: relative;
  width: 260px;
  height: 260px;
  background: #fff;
  border-radius: 50%;
  animation: eye 3.5s infinite;
}

.left span,
.right span {
  content: "";
  position: relative;
  top: -30%;
  left: 10%;
  display: block;
  width: 65%;
  height: 2%;
  background: #000;
  border: 20px solid #000;
  border-radius: 50%;
}

.left span:before,
.right span:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -12px;
  width: 210px;
  height: 30px;
  background: #fb6400;
  border-radius: 70% 70% 0 0;
}

.eye::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 65%;
  background: #000;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  animation: eyes 17.5s infinite;
}
.main{margin-top: 70px;}
@keyframes eye {
  0%,
  5%,
  30%,
  37%,
  100% {
    height: 260px;
    transform: translate3d(0, 0, 0);
  }
  3%,
  33% {
    height: 0;
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes eyes {
  0%,
  20% {
    transform: translate3d(-100%, -50%, 0);
  }
  21%,
  40%,
  81%,
  100% {
    transform: translate3d(-50%, -50%, 0);
  }
  41%,
  60% {
    transform: translate3d(0, -50%, 0);
  }
  61%,
  80% {
    transform: translate3d(-50%, 0, 0);
  }
}


header {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 700px;
  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(255, 255, 255, 0.4) 10%, transparent 80%);
  pointer-events: none;
  z-index: -1;
  animation: smokeAnimation 3s linear infinite;
}

@keyframes smokeAnimation {
  0% {
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translateX(50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
  }
}
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  /* CSS rules for phones go here */
  
  /* Example styles */
  body {
    font-size: 14px;
  }
  
  .container {
    width: 100%;
    padding: 10px;
  }
  
  .header {
    text-align: center;
  }
  
  .menu {
    display: none;
  }
  
  .content {
    width: 100%;
    margin-top: 20px;
  }
  
  .footers {
    font-size: 12px;
    text-align: center;
  }
}


/* CSS code */
.ns-TabsModule {
  width: 100%;
  text-align: center;
  }
  
  .ns-TabNav {
  position: relative;
  font-size: 0;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 800% 100%;
  background-repeat: no-repeat;
  animation: rainbowBackgroundAnimation 5s linear infinite;
  }
  
  .ns-TabNav_Link {
  display: inline-block;
  margin: 0 11px;
  text-decoration: none;
  font-size: 12px;
  line-height: calc(11px * 4);
  color: #fcfcfc;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s; /* Add transition for smooth color change */
  }
  
  .ns-TabNav_Link:hover {
  color: #000000; /* Change text color to black on hover */
  }
  
  .ns-TabNav_Link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(9, 255, 206, 0.827);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 10px;
  }
  
  .ns-TabNav_Link:hover::before {
  opacity: 1; /* Show the grid-like background on hover */
  }
  
  .ns-TabNav_Link.active span {
  animation: rainbowAnimation 2s infinite;
  }
  
  .ns-TabNav_Link span {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 1px;
  pointer-events: none;
  }
  
  .ns-ScrollWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  box-shadow: inset 0 -2px 0 0 #747070;
  }
  
  .ns-ScrollWrapper::-webkit-scrollbar {
  display: none;
  }
  
  @keyframes rainbowBackgroundAnimation {
  0% { background-position: 0 0; }
  100% { background-position: 800% 0; }
  }

 
